# these libs are requested to build common python libs 
# if you are an advance user and are sure to not use them you can comment the following lines
wheel
Cython
pybind11

# uncomment if you want to run your module with GEE in SEPAL
git+https://github.com/openforis/earthengine-api.git@v0.1.270#egg=earthengine-api&subdirectory=python

# the base lib to run any sepal_ui based app 
# don't forget to fix it to a specific version when you're app is ready
sepal_ui==2.13.0

# custom libs
numpy==1.23.2
pandas==1.4.4


geopandas==0.10.2
colorama==0.4.3
requests==2.22.0
shapely_geojson==0.0.1

pytz>=2020.1
Shapely==1.8.4
cryptography>=2.1.4

# widgets are not displayed when using ipyvuetify==1.8.4 and ipywidgets==8.0.2
ipyvuetify==1.8.2
ipywidgets==7.6.5
